.cart-card {
  display: flex;
  max-width: 800px;
  margin: auto;
  padding: 16px;
}

.cart-items {
  margin-bottom: 16px;
}

.cart-item {
  display: flex;
  align-items: center;
  height: 250px;
  padding: 16px 0;
  border-bottom: 1px solid #e0e0e0;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.item-quantity,
.item-price {
  font-size: 16px;
}

.item-price {
  font-weight: bold;
  text-align: right;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
.removeButton {
  @apply bg-red-500 !important;
  color: white;
  @apply my-4 !important;
}
